<html>
    <head>
        <title>Vika Putri Ariyanti</title>
    </head>
    <body>
        <div>
            <h1><a href="/">Vika Putri Ariyanti</a></h1>
        </div>

        <div>
            <h2><a href="">Who me?</a></h2>
            <p>My name is Vika Putri Ariyanti</p>
        </div>

        <div>
           {% for post in posts %}
           <div>
             <p>published: {{ post.published_date }}</p>
             <h2><a href="">{{ post.title }}</a></h2>
             <p>{{ post.text|linebreaksbr }}</p>
           </div>
           {% endfor %}
        </div>
    </body>
</html>
